.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, min(180px));
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
  column-gap: 10px;
  row-gap: 25px;
  justify-content: center;
}
