.card-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  border-radius: 10px;
}

.image-container {
  display: flex;
  justify-content: center;
}

img {
  border-radius: 10px;
}

.play {
  display: none;
  position: absolute;
  background-image: url("../../../../assets/play_green.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 180px;
  height: 120px;
}

.image-container:hover {
  .main-image {
    filter: grayscale(1);
  }
  .play {
    display: block;
  }
}
.amount {
  position: absolute;
  height: 2vh;
  display: flex;
  align-items: center;
  width: 180px;
  justify-content: center;
  font-family: Calibri;
  font-size: 14px;
  font-weight: 800;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.3);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.top-new {
  margin-top: -3px;
  width: 184px;
  position: absolute;
  display: flex;
}

.top {
  margin-right: auto;
}

.new {
  margin-left: auto;
}
