/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}
.color1 {
  color: #8dc63f;
}

.color2 {
  color: #373737;
}

.color3 {
  color: #ffffff;
}

.color4 {
  color: #fcfcfc;
}

.bg1 {
  background-color: #8dc63f;
}

.bg2 {
  background-color: #373737;
}

.bg3 {
  background-color: #ffffff;
}

.bg4 {
  background-color: #fcfcfc;
}
.flex {
  display: flex;
}
.text-center {
  text-align: center;
}
.align-center {
  align-items: center;
}
